header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  user-select: none;

  gap: 1rem;
  padding: 1rem;
  @media only screen and (max-width: 600px) {
    padding: 0.25rem;
  }

  > .logo {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 3rem;

    font-size: 8rem;
    font-weight: bolder;
    color: var(--gg-cyan);
    //-webkit-text-stroke: 1px red;
    flex: 1 1 0px;

    .stroke-single,
    .stroke-double {
      position: relative;
      background: transparent;
      z-index: 0;
    }

    .stroke-single:before,
    .stroke-double:before {
      content: attr(title);
      position: absolute;
      -webkit-text-stroke: 0px var(--gg-cyan);
      left: 0;
      z-index: -1;
    }
    .stroke-double:after {
      content: attr(title);
      position: absolute;
      -webkit-text-stroke: 6px var(--gg-purple);
      left: 0;
      z-index: -2;
    }

    > div {
      &:nth-child(1) {
        filter: var(--gg-drop-shadow-smaller);
        text-align: right;
      }
      &:nth-child(2) {
        z-index: 1;
        position: relative;
        > .image {
          position: absolute;
          top: calc(50% - 4rem);
          left: calc(50% - 3.8rem);
          width: 8rem;
          height: 8rem;

          background-image: url('/assets/logo.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

          filter: var(--gg-drop-shadow);
        }
      }
      &:nth-child(3) {
        filter: var(--gg-drop-shadow-smaller);
        text-align: left;
        color: var(--gg-pink);

        .stroke-single:before,
        .stroke-double:before {
          -webkit-text-stroke: 1px var(--gg-pink);
        }
      }
    }

    @media only screen and (max-width: 600px) {
      font-size: 3rem;
      line-height: 1.5rem;
      padding: 1rem 0;
      gap: 1rem;
      > div {
        &:nth-child(1) {
          filter: var(--gg-drop-shadow-smaller);
          padding-bottom: 1rem;
        }
        &:nth-child(2) {
          > .image {
            top: calc(50% - 2rem);
            left: calc(50% - 1.9rem);
            width: 4rem;
            height: 4rem;
            filter: var(--gg-drop-shadow-small);
          }
        }
        &:nth-child(3) {
          filter: var(--gg-drop-shadow-smaller);
          padding-top: 1rem;
        }
      }
    }
  }

  > .nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    color: var(--gg-link);
  }
}
