<header>
  <div
    class="logo madimi"
    routerLink="/"
    (mouseenter)="hovering = true"
    (mouseleave)="hovering = false"
  >
    <div [@fromLeft]="hovering" class="stroke-double" title="GAMER'S">
      GAMER'S
    </div>
    <div>
      <div [@shrink]="hovering" class="image"></div>
    </div>
    <div [@fromRight]="hovering" class="stroke-double" title="GUILD">GUILD</div>
  </div>
  <div class="nav" @popIn>
    <div><a routerLink="/events">EVENTI</a></div>
    <div>·</div>
    <div><a routerLink="/about">CHI SIAMO</a></div>
    <div>·</div>

    <div *ngIf="auth.authenticatedUser?.admin">
      <a routerLink="/admin">ADMIN</a>
    </div>
    <div *ngIf="auth.authenticatedUser?.admin">·</div>

    <asl-google-signin-button
      *ngIf="!auth.authenticatedUser && !mobile"
      type="standard"
      size="medium"
      text="signin_with"
      shape="circle"
      theme="outline"
      logo_alignment="center"
      locale="it-CH"
    >
    </asl-google-signin-button>
    <asl-google-signin-button
      *ngIf="!auth.authenticatedUser && mobile"
      type="icon"
      size="medium"
      text="signin_with"
      shape="circle"
      theme="outline"
      logo_alignment="center"
      locale="it-CH"
    >
    </asl-google-signin-button>

    <div *ngIf="auth.authenticatedUser">
      <a [routerLink]="null" (click)="auth.logout()">LOGOUT</a>
    </div>
  </div>
</header>
<script src="https://accounts.google.com/gsi/client" async></script>
