<header>
  <div
    class="logo madimi"
    routerLink="/"
    (mouseenter)="hovering = true"
    (mouseleave)="hovering = false"
  >
    <div [@fromLeft]="hovering" class="stroke-double" title="GAMER'S">
      GAMER'S
    </div>
    <div>
      <div [@shrink]="hovering" class="image"></div>
    </div>
    <div [@fromRight]="hovering" class="stroke-double" title="GUILD">GUILD</div>
  </div>
  <div class="nav" @popIn>
    <div><a routerLink="/events">EVENTI</a></div>
    <div>·</div>
    <div><a routerLink="/about">CHI SIAMO</a></div>
    <div>·</div>

    <div *ngIf="auth.authenticatedUser?.admin">
      <a routerLink="/admin">ADMIN</a>
    </div>
    <div *ngIf="auth.authenticatedUser?.admin">·</div>

    <div *ngIf="!auth.authenticatedUser">
      <a routerLink="/auth/login">LOGIN</a>
    </div>
    <div *ngIf="auth.authenticatedUser">
      <a [routerLink]="null" (click)="auth.logout()">LOGOUT</a>
    </div>
  </div>
</header>
