header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  user-select: none;

  gap: 1rem;
  padding: 1rem;
  @media only screen and (max-width: 600px) {
    padding: 0.25rem;
  }

  > .logo {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 3rem;

    font-size: 8rem;
    font-weight: bolder;
    color: var(--gg-cyan);
    //-webkit-text-stroke: 1px red;
    flex: 1 1 0px;

    .stroke-single,
    .stroke-double {
      position: relative;
      background: transparent;
      z-index: 0;
    }

    .stroke-single:before,
    .stroke-double:before {
      content: attr(title);
      position: absolute;
      -webkit-text-stroke: 0px var(--gg-cyan);
      left: 0;
      z-index: -1;
    }
    .stroke-double:after {
      content: attr(title);
      position: absolute;
      -webkit-text-stroke: 6px var(--gg-purple);
      left: 0;
      z-index: -2;
    }

    > div {
      &:nth-child(1) {
        filter: var(--gg-drop-shadow-smaller);
        text-align: right;
      }
      &:nth-child(2) {
        z-index: 1;
        position: relative;
        > .image {
          position: absolute;
          top: calc(50% - 4rem);
          left: calc(50% - 3.8rem);
          width: 8rem;
          height: 8rem;

          background-image: url('/assets/logo.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

          filter: var(--gg-drop-shadow);
        }
      }
      &:nth-child(3) {
        filter: var(--gg-drop-shadow-smaller);
        text-align: left;
        color: var(--gg-pink);

        .stroke-single:before,
        .stroke-double:before {
          -webkit-text-stroke: 1px var(--gg-pink);
        }
      }
    }
  }

  > .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 1.5rem;
    font-weight: bold;
    color: var(--gg-link);
  }
}

@media only screen and (max-width: 950px) {
  header {
    > .logo {
      font-size: 6rem;
      gap: 2.1rem;
      > div:nth-child(2) > .image {
        top: calc(50% - 3rem);
        left: calc(50% - 2.8rem);
        width: 6rem;
        height: 6rem;
      }
    }

    > .nav {
      font-size: 1.2rem;
      gap: 1.2rem;
    }
  }
}

@media only screen and (max-width: 710px) {
  header {
    > .logo {
      font-size: 5rem;
      gap: 1.8rem;
      > div:nth-child(2) > .image {
        top: calc(50% - 2.7rem);
        left: calc(50% - 2.5rem);
        width: 5.4rem;
        height: 5.4rem;
      }
    }

    > .nav {
      font-size: 1.2rem;
      gap: 1.2rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  header {
    > .logo {
      font-size: 4rem;
      gap: 1.8rem;
      > div:nth-child(2) > .image {
        top: calc(50% - 2.5rem);
        left: calc(50% - 2.3rem);
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    > .nav {
      font-size: 1.1rem;
      gap: 1.1rem;
    }

    .stroke-double:after {
      -webkit-text-stroke: 5px var(--gg-purple) !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  header {
    > .logo {
      font-size: 3rem;
      gap: 1.5rem;
      > div:nth-child(2) > .image {
        top: calc(50% - 1.8rem);
        left: calc(50% - 1.7rem);
        width: 3.6rem;
        height: 3.6rem;
      }
    }

    > .nav {
      font-size: 1rem;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  header {
    > .logo {
      font-size: 2.5rem;
      gap: 1.5rem;
      > div:nth-child(2) > .image {
        top: calc(50% - 1.8rem);
        left: calc(50% - 1.7rem);
        width: 3.6rem;
        height: 3.6rem;
      }
    }

    > .nav {
      font-size: 1rem;
      gap: 0.5rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  header {
    > .logo {
      font-size: 2rem;
      gap: 1.2rem;
      > div:nth-child(2) > .image {
        top: calc(50% - 1.5rem);
        left: calc(50% - 1.45rem);
        width: 3rem;
        height: 3rem;
      }
    }

    > .nav {
      font-size: 0.8rem;
      gap: 0.45rem;
    }
  }
}
