<header>
  <div class="logo" routerLink="/">
    <div @fromLeft>BOARD</div>

    <div @fromRight>GAMES</div>
    <div @shrink class="image"></div>
  </div>
  <div class="nav" @popIn>
    <div><a routerLink="/events">EVENTI</a></div>
    <div>·</div>
    <div><a routerLink="/about">CHI SIAMO</a></div>
    <div>·</div>

    <div *ngIf="auth.authenticatedUser?.admin">
      <a routerLink="/admin">ADMIN</a>
    </div>
    <div *ngIf="auth.authenticatedUser?.admin">·</div>

    <div *ngIf="!auth.authenticatedUser">
      <a routerLink="/auth/login">LOGIN</a>
    </div>
    <div *ngIf="auth.authenticatedUser">
      <a [routerLink]="null" (click)="auth.logout()">LOGOUT</a>
    </div>
  </div>
</header>
