.event {
  > mat-card-content {
    transform-origin: top center;
  }
  margin-bottom: 2rem;
  //cursor: pointer;

  mat-card-header {
    position: relative;
  }

  .picture {
    background-image: url('/assets/skeletons/event.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .desc {
      flex-grow: 1;
      padding: 1rem 2rem;

      > .text {
        font-size: 1.2rem;
        border-radius: 1rem;
        padding: 1rem 2rem;
        flex-grow: 1;
        white-space: break-spaces;
        backdrop-filter: blur(2px) brightness(0.6) sepia(0.1);
        color: white;

        @media screen and (max-width: 600px) {
          font-size: 1rem;
          padding: 0.5rem 1 rem;
        }
      }
    }
  }
}

.round {
  margin-bottom: 1rem;

  > mat-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &:last-of-type {
    margin-bottom: 10rem;
  }
}
