<mat-card class="event medium">
  <mat-card-header>
    <mat-card-title class="title">
      {{ event?.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ event?.date | date }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>
      <div
        class="picture"
        [ngStyle]="
          event?.picture
            ? {
                'background-image': 'url(' + pictureURL + event.picture + ')'
              }
            : {}
        "
      >
        <div class="desc centered">
          <div class="text">
            {{ event?.description }}
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let round of event?.rounds; let r = index" class="round">
  <mat-card-header>
    <mat-card-title>
      {{ round.start }} - {{ round.end }}
      <button
        *ngIf="auth?.authenticatedUser?.admin"
        mat-raised-button
        color="primary"
        style="margin-left: 2rem"
        (click)="add(round)"
      >
        TEST
      </button>
      <button
        *ngIf="auth?.authenticatedUser"
        mat-raised-button
        color="primary"
        style="margin-left: 2rem"
        (click)="book(round)"
      >
        ISCRIVITI
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-table
      *ngFor="let table of round.tables"
      [table]="table"
      class="table"
    ></app-table>
  </mat-card-content>
</mat-card>
