footer {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;

  background-color: var(--gg-footer);
  color: var(--gg-footer-text);

  user-select: none;

  //margin-top: 10rem;

  .copyright {
    font-weight: bold;
    text-align: right;
    .name {
      white-space: nowrap;
    }
    .year {
      font-weight: normal;
      font-size: 0.8em;
    }
  }
}
