footer {
  position: relative;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;

  background-color: var(--gg-footer);
  color: var(--gg-footer-text);

  user-select: none;

  //margin-top: 10rem;

  max-width: 100vw;

  .links {
    display: flex;
    gap: 2rem;
    //flex-direction: column;

    a,
    a:visited,
    a:hover,
    a:active {
      color: white;
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: right;
    .name {
      white-space: nowrap;
    }
    .year {
      font-weight: normal;
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 2rem 1rem;
    gap: 2rem;
    justify-content: center;

    .credits {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
    }

    .links {
      padding-bottom: 2rem;
    }

    .copyright {
      flex-direction: column-reverse;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      max-width: calc(50vw - 1rem);
    }
  }

  @media screen and (max-width: 400px) {
    padding: 2rem 0.5rem;
    gap: 1rem;
    .links {
      padding-bottom: 2.5rem;
    }
    .copyright {
      .name {
        white-space: initial;
      }
    }
  }
}
