<mat-card *ngIf="!auth.authenticatedUser" class="medium">
  <mat-card-header>
    <mat-card-title> Login </mat-card-title>
    <mat-card-subtitle>
      Effettua il login per accedere al pannello admin
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="loginSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error>
          {{ formGroup.get('email') | formControlError }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error>
          {{ formGroup.get('password') | formControlError }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!formGroup.valid || auth.busy"
      (click)="loginSubmit()"
    >
      LOGIN
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="auth.authenticatedUser" class="medium">
  <mat-card-header>
    <mat-card-title> Logout </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button
      mat-raised-button
      (click)="auth.logout()"
      [disabled]="!auth.authenticatedUser"
    >
      LOGOUT
    </button>
  </mat-card-content>
</mat-card>
