<mat-card *ngFor="let event of events" class="event small" @popIn>
  <mat-card-header (click)="$any(event).expanded = !$any(event).expanded">
    <mat-card-title class="title">
      {{ event.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ event.date | date }}
    </mat-card-subtitle>
    <div class="arrow">
      <mat-icon
        [fontIcon]="'expand_more'"
        [class.expanded]="!!$any(event).expanded"
        [inline]="true"
      ></mat-icon>
    </div>
  </mat-card-header>

  <mat-card-content [@expansion]="!!$any(event).expanded">
    <div>
      <div
        class="picture"
        [ngStyle]="
          event.picture
            ? {
                'background-image': 'url(' + pictureURL + event.picture + ')'
              }
            : {}
        "
      >
        <div class="desc centered">
          <div class="text">
            {{ event.description }}
          </div>
        </div>

        <div class="arrow" [routerLink]="'' + event._id">
          <mat-icon
            aria-hidden="false"
            aria-label="Apri"
            fontIcon="chevron_right"
            inline="true"
          ></mat-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
