.event {
  > mat-card-content {
    transform-origin: top center;
  }
  margin-bottom: 2rem;
  cursor: pointer;

  mat-card-header {
    position: relative;
  }
  .expander {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    top: calc(50% - 0.5rem);

    > * {
      transition: all 0.2s ease;
    }

    > .expanded {
      transform: rotate(-180deg);
    }
  }
  .picture {
    background-image: url('/assets/skeletons/event.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .desc {
      flex-grow: 1;
      padding: 1rem 2rem;

      > .text {
        font-size: 1.2rem;
        border-radius: 1rem;
        padding: 1rem 2rem;
        flex-grow: 1;
        white-space: break-spaces;
        backdrop-filter: blur(2px) brightness(0.6) sepia(0.1);
        color: white;
      }
    }

    .arrow {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      padding-right: 0.8rem;
      padding-bottom: 0.8rem;
      > mat-icon {
        font-size: 4rem;
        padding: 0.5rem;
        color: white;

        backdrop-filter: blur(2px) brightness(0.7) sepia(0.1);
        border-radius: 50%;
      }
      &:hover {
        > mat-icon {
          backdrop-filter: blur(2px) brightness(0.8) sepia(0.1);
          transform-origin: center;
          transform: scale(1.1);
        }
      }
    }
  }
}
