<mat-card @popIn class="medium">
  <mat-card-header>
    <mat-card-title>COMING SOON!</mat-card-title>
    <mat-card-subtitle>
      We're hard at work to bring you an awesome service!
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>La GG Gamer's Guild Lugano ti da il benvenuto!</p>
    <p>
      Su questo sito potrai scoprari di piú su di noi, e riservare posti per gli
      eventi che organizziamo!
      <br />
      L'idea è quella di rendere piú facile la prenotazione, e allo stesso modo
      di smistare meglio i tavoli lasciandovi peró la possibilità di giocare coi
      vosti amici.
    </p>
    <p>Torna piú tardi per scoprire quanto sarà cambiato!!!</p>
  </mat-card-content>
</mat-card>
