.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    flex-grow: 1;

    max-width: 75vw;
    padding: 1rem;
    @media only screen and (max-width: 950px) {
      max-width: 100vw;
      padding: 1rem 0.5rem;
    }
    margin: auto;
  }

  min-height: 100vh;
}
