@use 'sass:map' as map;

$black-87-opacity: rgba(0, 0, 0, 0.87);

//https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
$gg-cyan: (
  50: #e7f5fe,
  100: #c4e6fe,
  //P
  200: #a0d7fe,
  300: #7bc7fe,
  400: #5db9ff,
  500: #45adff,
  600: #3f9ff4,
  700: #368ce1,
  800: #307bcf,
  900: #235cb1,
  A100: #a0fef6,
  A200: #62fbf2,
  A400: #00efeb,
  A700: #00c1bd,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$gg-purple: (
  50: #ede6f8,
  100: #d0c1ee,
  200: #b298e3,
  300: #926ed9,
  400: #7a4dd0,
  500: #5f2cc7,
  600: #5528c1,
  700: #451fb9,
  //P
  800: #3519b2,
  900: #0d09a7,
  A100: #bce0ff,
  A200: #91cdff,
  A400: #3faaff,
  A700: #1d7ae3,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$gg-pink: (
  50: #ffedf0,
  100: #ffd1d6,
  //P
  200: #fea0a0,
  300: #f87b7b,
  400: #ff5c58,
  500: #ff4d3d,
  600: #fc453e,
  700: #e93a37,
  800: #dc3330,
  900: #cd2824,
  A100: #fdc5e2,
  A200: #fea0cf,
  A400: #ff5ea8,
  A700: #db3f88,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$gg-yellow: (
  50: #fffde8,
  100: #fef9c6,
  //P
  200: #fef5a1,
  300: #fdf07b,
  400: #fbeb5c,
  500: #f9e63e,
  600: #fbd83d,
  700: #f9c035,
  800: #f6a82c,
  900: #f2801e,
  A100: #fec6a1,
  A200: #f5a369,
  A400: #e16d00,
  A700: #c34d00,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

:root {
  --gg-cyan: #{map.get($gg-cyan, 200)};
  --gg-purple: #{map.get($gg-purple, 900)};
  --gg-pink: #{map.get($gg-pink, 200)};
  --gg-yellow: #{map.get($gg-yellow, 200)};

  --gg-link: #{map.get($gg-purple, 600)};
  --gg-background: #{map.get($gg-cyan, 50)};

  --gg-footer: #{map.get($gg-purple, 800)};
  --gg-footer-text: #{map.get($gg-purple, contrast, 900)};

  --gg-drop-shadow-small: drop-shadow(1px 1px 4px #3d078dc0);
  --gg-drop-shadow: drop-shadow(1px 1px 8px #3d078dfa);
}
