.container {
  display: flex;
  flex-direction: column;

  max-width: 32rem;
  padding: 2rem 3rem;

  @media (max-width: 600px) {
    padding: 2rem 2rem;
  }
  @media (max-width: 500px) {
    padding: 2rem 1rem;
  }

  > h3,
  > h4,
  > p {
    text-align: center;
  }

  > .party {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    > .text {
      font-weight: bolder;
      margin-bottom: 0.5rem;
    }
    > .adventurer {
      width: 60%;
      max-width: 40rem;
      padding: 0.5rem;

      border-radius: 4px;
      color: white;
      background-color: var(--gg-purple-lighter);
      &.leader {
        background-color: var(--gg-purple-light);
      }
      box-shadow: var(--gg-box-shadow);
    }

    > .adder {
      width: 60%;
      max-width: 40rem;

      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      > .text {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }
    }

    @media (max-width: 600px) {
      > .adventurer,
      > .adder {
        width: 70%;
        max-width: calc(100% - 1rem);
      }
    }
    @media (max-width: 500px) {
      > .adventurer,
      > .adder {
        width: 90%;
        max-width: calc(100% - 0.5rem);
      }
    }
  }

  > .confirmation {
    margin-top: 1rem;
  }
}

.guest {
  color: var(--theme-error);
  margin-bottom: 0.8rem;
}
